<a href="https://colab.research.google.com/github/samrat19/MY_Machine_Learning_Notebook/blob/master/Machine_Learnig_Course_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preproccessing Template

### Importing the Library

A library is a tool to do some specific job

In [0]:
import numpy as np

numpy is a library which has the mathematical tools

In [0]:
import matplotlib.pyplot as plt

matplotlib library helps us to plot nice charts

In [0]:
import pandas as pd

pandas helps us to import datasets and manage datasets

### Import the Datasets

In [0]:
dataset = pd.read_csv('https://raw.githubusercontent.com/samrat19/MY_Machine_Learning_Notebook/master/Dataset_Folder/Machine%20Learning%20A-Z%20Template%20Folder/Part%201%20-%20Data%20Preprocessing/Data.csv')

In [3]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

## lets create the matrix of features

In [0]:
x = dataset.iloc[: , :-1].values

: means we take all the values in row. and :-1 means we are not taking the right most column or removing one column

In [5]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

let's create the dependant variable vector

In [0]:
y = dataset.iloc[:, 3] #because we need the last columns and all it's values

In [7]:
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

for the missing data we have to take the mean of all values in the column and put there

In [0]:
from sklearn.preprocessing import Imputer

Imputer helps us to deal with the missing data

In [0]:
imputer = Imputer(missing_values = 'NaN' , strategy = 'mean' , axis = 0) 
imputer = imputer.fit(x[:,1:3]) #upperbound is excluded
x[: , 1:3] = imputer.transform(x[: , 1:3])

In [15]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

## Encoding categorical data

In [0]:
from sklearn.preprocessing import LabelEncoder

labelEncoder_x = LabelEncoder()
x[:,0] = labelEncoder_x.fit_transform(x[:,0])

In [25]:
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

Dummy Encoding

In [0]:
from sklearn.preprocessing import OneHotEncoder

oneHotEncoder = OneHotEncoder(categorical_features = [0])
x = oneHotEncoder.fit_transform(x).toarray()

In [0]:
from sklearn.preprocessing import LabelEncoder

labelEncoder_y = LabelEncoder()
y = labelEncoder_y.fit_transform(y)

In [31]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

### Split dataset in training set and test set

In [0]:
from sklearn.model_selection import train_test_split

x_train, x_test ,y_train ,y_test = train_test_split(x,y , test_size = 0.2 ,random_state = 0)

### Feature Scalling

In [0]:
from sklearn.preprocessing import StandardScaler

sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
z_test = sc_x.transform(x_test)